body{
    background-image: url(pen.jpg);
    background-repeat: no-repeat;
    background-size: 1270px 600px;
}
form {
    border: solid 1px;
    width: 450px;
}
label{
    font-size: 22px;
    color: red;
    font-weight: bold;
}
input{
    height: 35px;
    width: 300px;
    border-radius: 20px;
}
textarea{
    height: 100px;
    width: 300px;
   background-color: red;
   color: white;
   font-size: 22px;
   border-radius: 20px;
}
h1{
    text-align: center;
    font-size: 40px
    
    ;
}